<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.patrickkahl.bitly</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0CD51B51-AB30-4507-A3C6-91A39723BBC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>529206D8-E428-48DD-AFD0-BA7BC31D1E12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C55FEEEE-9576-4D97-BCF8-53D10AC920A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CD51B51-AB30-4507-A3C6-91A39723BBC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Kahl</string>
	<key>description</key>
	<string>Shorten URL with bit.ly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bit.ly</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CD51B51-AB30-4507-A3C6-91A39723BBC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>529206D8-E428-48DD-AFD0-BA7BC31D1E12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bit.ly</string>
				<key>subtext</key>
				<string>Searching...</string>
				<key>text</key>
				<string>Shorten URL with bit.ly</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C55FEEEE-9576-4D97-BCF8-53D10AC920A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Find out more and how to use at https://github.com/patrickkahl/alfred-bitly</string>
	<key>uidata</key>
	<dict>
		<key>0CD51B51-AB30-4507-A3C6-91A39723BBC7</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>529206D8-E428-48DD-AFD0-BA7BC31D1E12</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C55FEEEE-9576-4D97-BCF8-53D10AC920A4</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>BITLY_ACCESS_TOKEN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>BITLY_ACCESS_TOKEN</string>
	</array>
	<key>version</key>
	<string>1.0.5</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
